/* You can add global styles to this file, and also import other style files */


html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-y: auto;     /* scroll normal, UNE seule barre */
  overflow-x: hidden;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
